<h2>Dodaj artikel</h2>
<div *ngIf="artikel">
    <form (ngSubmit)="submitForm()" ngNativeValidate>
        <table>
            <tr>
                <td><label for="naziv">Naziv</label></td>
                <td><input [(ngModel)]="artikel.naziv" id="naziv" name="naziv" required /></td>
            </tr>
            <tr>
                <td><label for="opis">Opis</label></td>
                <td><input [(ngModel)]="artikel.opis" id="opis" name="opis" /></td>
            </tr>
        </table>

        <br/>
        <button type="button" (click)="nazaj()">Nazaj</button>
        <button type="submit">Dodaj</button>
    </form>
</div>
